<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="rav">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script><!-- load angular -->
    <script src="/js/core.js"></script>
    <script src="/controllers/favorites.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="FavoritesController as favCtrl">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>My Favorites</h1>
        </div>
        <nav></nav>
        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div id="todo-list" ng-repeat="fav in favCtrl.favorites">
                      <img ng-show="!favCtrl.isDesigner(fav)" ng-src="{{fav.favorited.first_photo.medium_url}}">
                      <img ng-show="favCtrl.isDesigner(fav)" ng-src="{{fav.favorited.users[0].photo_url}}">
                      Name: {{fav.favorited.name}} ID: {{fav.id}}
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>
