<div style="center">
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Notebook
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="fa fa-folder" aria-hidden="true"></i> Projects</a>
        <a class="dropdown-item" href="#"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>
Handspun</a>
        <a class="dropdown-item" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Stash</a>
        <a class="dropdown-item" href="#"><i class="fa fa-list" aria-hidden="true"></i> Queue</a>
        <a class="dropdown-item" href="/protected/favoritesView"><i class="fa fa-heart" aria-hidden="true"></i>
Favorites</a>
        <a class="dropdown-item" href="#"><i class="fa fa-users" aria-hidden="true"></i>
Friends</a>
        <a class="dropdown-item" href="#"><i class="fa fa-ticket" aria-hidden="true"></i>
Groups & Events</a>
        <a class="dropdown-item" href="#"><i class="fa fa-space-shuttle" aria-hidden="true"></i>
Needles & Hooks</a>
        <a class="dropdown-item" href="#"><i class="fa fa-book" aria-hidden="true"></i>
Library</a>
        <a class="dropdown-item" href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
Messages</a>
        <a class="dropdown-item" href="#"><i class="fa fa-rss" aria-hidden="true"></i>
Blog Posts</a>
        <a class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i>
Contributions</a>
        <a class="dropdown-item" href="#"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>
Purchases</a>
    </div>
</div>
<a class="btn btn-primary" role="button" href="#">Patterns</a>
<a class="btn btn-primary" role="button" href="#">Yarns</a>
<a class="btn btn-primary" role="button" href="#">People</a>
<a class="btn btn-primary" role="button" href="#">Forums</a>
<a class="btn btn-primary" role="button" href="#">Groups</a>
<a class="btn btn-primary" role="button" href="#">Search</a>
</div>
